@media (max-width: 420px){
    .header{
        height: 100px;
        background-color: #EFEFEF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
    }
   
    .logo{
        height: 60px;
        width: 160px;
        
    }
    
    .menu__icon{
        display: block;
        height: 50px;
        width: 60px;
        background-color:#DB514A;
        
        margin-right: 10px;
        border-radius: 10px;

    }
    .nav__link{
        position: fixed;
        left: 0;
        top: 0;
        background-color: aqua;
        height: 100vh;
        width: 100%;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    .link{
        padding: o.5rem 3rem;
width: 5rem;
color: red;
text-decoration: none;
font-weight: bold;
margin-right: -150px;

        text-align: center;
        background: white;
        margin-top: 7rem;
    
        border-radius: 5rem;

    }
       .link:hover{
        color: white;
        background: red;
        text-decoration: none;
       }
    .small{
        flex-direction: column;
 
    }
    .large{
        display: none;
    }

    /* .right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 400px;
} */
/*     
     .link a{
        display: block;
        padding: 0.5rem 3rem;
        width: 20rem;
        text-align: center;
        background: white;
        margin-top: 0.8rem;
        border-radius: 5rem;
     } */

 
  




}
