@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@media only screen and (min-width: 1200px) {
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
}
body {
  min-height: 100vh;
  background-color: #f0e5e5;
}
.trainee-login-page{
background-image: url("./Images/Intro-to-Coding\ 1.svg");
background-size: cover;
background-repeat: no-repeat;
align-items: center;
justify-content: center;
margin: 0 auto;
}
.trainee-login-body{
   padding: 0 35%; 
}
h1 {
  font-weight: 900;
}

/* form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
} */

link,
a,
a:visited {
  color: whitesmoke;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
#dropdown {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
label,
button {
  margin-top: 1rem;
  color: black;
}

.login__button {
  padding: 0.5rem;
  background-color: #d12f2f;
  align-self: center;
}
.title-bh1 {
  justify-content: center;
  align-self: center;
  font-weight: 700;
  font-size: 30px;
}
.sign-up-button {
  background-color: #d12f2f;
  color:black
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.img {
  position: relative;
  top: -10px;
  left: 0px;
  width: 420px;
  height: 100px;
}

.volunteer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.massive-red-button {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  background-color: #d12f2f;
  color: rgb(248, 242, 242);
  border: none;
  border-radius: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.massive-red-button:hover {
  transform: scale(1.1);
}
/* 
.background-wrapper {
  background-size: cover;
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-image: url("https://static.overlay-tech.com/assets/1a384287-9df9-46ad-bc8f-f16e39816ec5.png");
  padding: 45px 45px 45px 45px;
  position: relative;
} */


.background-wrapper h1 {
  text-align: center;
  position: relative;
  font-weight: 900;
  font-size: 60px;
}
.trainee__b{
  display: none;
}
.background-wrapper{
  background-image: url("./Images/Intro-to-Coding\ 1.svg");
background-size: cover;
background-repeat: no-repeat;
}
.login__b{
  display: none;
}
   .good__bye{

  }
  .about__us{
    background-image: url("./Images/Intro-to-Coding\ 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
  color: brown;
  }
  .signed-out__page{

  }
  .desktop__title{
    color:#d12f2f;
    text-decoration-line: underline;
}
}
