button {
  padding: 8px 8px;
 
  border-radius: 4px;
  border: none;

  color: #fff;
  cursor: pointer;
  margin-top: 40px;
  width: 170px;
}
.buttons{
  display: flex;
justify-content: space-around;
}
.login__class{
  background-color: white;
  color: red;
  border:  solid 2px red;
   font-size: 20px;
}
.logout__class{
  background-color: red;
  font-size: 20px;
}
.login__class:hover, button:focus {
  background-color: #d32f2f;
  color: white;
}
button:hover, button:focus {
  background-color: black;
}
button:active {
  background-color: #b71c1c;
}