
.about__ustext{
    background-color: white;
}

.about__ustext h1{
    padding-top: 5px;
}

.header_text{
    /* margin-top: 0;
    margin-bottom: -10px; */
    margin:0
}

.about__ustext h5{
    margin-top: 7px;
}

.about__ustext p{
    margin-top:-5px;
}

  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
   
}
  
/* Media Query for Tablets Ipads portrait mode
@media (min-width: 768px) and (max-width: 1024px){
    .about__ustext{
        display: flex;
        align-content: center;
        justify-items: center;
        width: 90vw;
        height:90vh;
        background-color: white;
        margin-top: 100px;
        margin:auto;
     
    }

    .about__us{
        display:flex;
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center;
      */
        
      
    /* } */
/* } */ 