
  .header {
    height: 100px;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px rgba(0, 0, 0, 0.25);
  }
  .logo {
    height: 60px;
    width: 160px;
  }
  .menu__icon {
    display: block;
    height: 50px;
    width: 60px;
    background-color: #db514a;

    margin-right: 10px;
    border-radius: 10px;
  }
 
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  a.link {
    
    width: 8rem;
    align-self: center;
    color: white;
    text-decoration: none; 
  
    font-weight: bold;
    text-align: center;
    background:  green;
     box-shadow: 0 4px rgba(186, 186, 195, 0.5);
   
    border-radius: 3px;
     margin-top: 7rem;
   margin-right: -130px;
    font-size: 18px;
    padding: 5px 10px;
  }
  

  .link:hover {
  
    text-decoration: none;
  }
  .small {
    flex-direction: column;
  }
  .large {
    display: none;
  }
